@import url(https://fonts.google.com/specimen/Kumbh+Sans:wght@400;700&display=swap);

$colors: (
    soft-blue: hsl(240, 73%, 65%),
    soft-violet: hsl(273, 75%, 66%),
    text-very-dark-grey-blue: hsl(240, 6%, 50%),
    text-dark-grey-blue: hsl(237, 12%, 33%),
    divider-grey-blue: hsl(240, 5%, 91%)
);

@mixin linearGradient($dir, $color1, $color2) {
    background: -webkit-linear-gradient($dir, $color1, $color2);
    background: -moz-linear-gradient($dir, $color1, $color2);
    background: -o-linear-gradient($dir, $color1, $color2);
    background: linear-gradient($dir, $color1, $color2);
}

@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-content: center;
}

* {
    margin: 0;
    padding: 0;
    font: {
        size: 12px;
        family: 'Kumbh Sans', sans-serif;
    }
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    @include linearGradient(to bottom, map-get($colors, soft-violet), map-get($colors, soft-blue));
}

main {
    @include centerFlex();
}

.container {
    width: 80%;
    margin-top: 18vh;
    background: white;
    border-radius: 25px;
    padding: 25px;
    overflow: visible;
    position: relative;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.4);
}

#woman {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 60%;
    z-index: 10;
}

// #box {
//     position: absolute;
//     z-index: 100;
//     width: 23%;
//     transform: translate(50%, -55%)
// }

#pattern {
    position: absolute;
    width: 60%;
    transform: translate(27%, -35%);
}

.content {
    h1 {
        font: {
            weight: 700;
            size: 3rem;
        }
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 10vh 0 4vh;
    }
}

.accordian {
    border-bottom: 2px solid map-get($colors, divider-grey-blue);

    .title {
        margin: 1.5vh 0;
        font: {
            size: 12px;
        }
        display: flex;
        justify-content: space-between;

        img {
            width: 15px;
            position: relative;
            right: 8px;
            top: 2px;
            transition: transform 200ms ease-in-out;
            height: 10px;
        }
    }

    .accord-content {
        display: none;
        color: map-get($colors, text-very-dark-grey-blue);
        margin: 1vh 0;
    }

    &.active {
        .title {
            font-weight: 700;
            color: black !important;

            img {
                transform: rotate(180deg);
            }
        }

        .accord-content {
            display: block;
        }
    }

    &:last-child {
        margin-bottom: 2vh;
    }
}